@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.title {
    font-family: 'Oswald';
    margin: 35px 0;
    padding: 0;
    font-size: 2.3em;
    font-weight: 500;
    color: #424245;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }
  
  .arrowRight, .arrowLeft {
    color: #ef1c8f;
  }