.flexRowContent--als-menu{
    background-color: #fff;
    align-items: center;
}
.flexRow--als-footer{
    background-color: rgba(204, 204, 204, 0.575);
    padding: 10px;
}
.flexRow--empresa-footer-als{
    background-color: #FEAEDA;   
}
.flexRow--als-footer-menu{
    min-height: 280px;
}